In [36]:
import pandas as pd
from matplotlib import pyplot as plt

header = pd.read_csv('/Users/Project/Desktop/gdelt/gdeltdata/CSV.header.fieldids.csv')
header_list=list()
for c in header:
    header_list.append(c)
df = pd.read_csv('/Users/Project/Desktop/gdelt/gdeltdata/gdelt.csv',names=header_list)

In [37]:
df.head(5)

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,760359406,20180530,201805,2018,2018.4110,USA,UNITED STATES,USA,NaN,NaN,...,CH,3,"White House, District of Columbia, United States",US,USDC,38.8951,-77.0364,531871,20180530,http://180dfo.com/2018/05/china-reportedly-lin...
1,794860320,20181016,201810,2018,2018.7836,USA,THE US,USA,NaN,NaN,...,US,1,China,CH,CH,35.0000,105.0000,CH,20181016,http://180dfo.com/2018/10/even-optimists-are-g...
2,771702393,20180713,201807,2018,2018.5288,USA,THE US,USA,NaN,NaN,...,531871,3,"Washington, District of Columbia, United States",US,USDC,38.8951,-77.0364,531871,20180713,http://2016carsreview.net/2018/07/united-state...
3,741727342,20180325,201803,2018,2018.2329,USA,WASHINGTON,USA,NaN,NaN,...,WA,2,"Washington, United States",US,USWA,47.3917,-121.5710,WA,20180325,http://abc27.com/ap/chinese-warns-against-trad...
4,741652542,20180324,201803,2018,2018.2301,CHN,CHINA,CHN,NaN,NaN,...,531871,3,"Washington, District of Columbia, United States",US,USDC,38.8951,-77.0364,531871,20180324,http://acupuncturecentral.net/2018/03/trump-tr...

In [54]:
size_us_1  = int(len(df[df.iloc[:,5]=='USA']))
size_chn_1 = len(df[df.iloc[:,5]=='CHN'])
size_us_2  = len(df[df.iloc[:,15]=='USA'])
size_chn_2  = len(df[df.iloc[:,15]=='CHN'])
y = [size_us_1,size_chn_1,size_us_2,size_chn_2]
x = [1000,2000,3000]